.card--mainstats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -465px;
}

.bg--img {
  background-image: url('./bg.png');
  background-size: 100%;
  pointer-events: none;
  z-index: 0;
}

.bgstat--container {
  background-image: url('./bgstat.png');
  background-size: 100%;
  position: absolute;
  pointer-events: none;
  padding-left: 15px;
  padding-top: 15px;
  z-index: 1;
}

.stat--container {
  padding-top: 20px;
}

.main--infos {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  color: var(--White, #FFF);
  text-align: center;
  z-index: 2;

}

.submain--infos {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  padding-left: 110px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  color: var(--White, #FFF);
  text-align: center;
  z-index: 2;
}

.slime--img {
  height: 110px;
  padding-left: 15px;
}

.sub--infos--container {
  display: grid;
  grid-template-columns: repeat(2, 120px); 
  grid-gap: 10px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.equipment--container {
  display: grid;
  grid-template-rows: auto 90px;
  grid-template-columns: repeat(2, 30px); 
  grid-gap: 10px;
  padding-top: 13px;
  padding-left: 40px;
}

.btn--quest {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  color: #684626;
  margin-left: 37px;
  margin-top: 33px;
  width: 240px;
  height: 37.142px;
  background: linear-gradient(89deg, #F6D788 0%, #F8DD84 69.27%, #FDF8BB 85.94%, #F8DD84 96.36%);
  border: 2px solid rgba(0, 0, 0, 0.20);
  z-index: 2;
}

.sub--infos {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  padding-left: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  color: var(--Text-grey, #D9D9D9);
  z-index: 2;
}

.equipment--img {
  position: relative;
  padding-top: -50px;
  margin-top: -5px;
  z-index: 2;
}

.equipment--base--infos {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  font-size: 10.5px;
  white-space: nowrap;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--Text-grey, #D9D9D9);
  z-index: 2;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

